.App {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.hcard-editor,
.hcard-preview {
  flex: 1;
  padding: 20px;
}

.hcard-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

.hcard-card {
  background-color: white;
}
