.App {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.hcard-editor,
.hcard-preview {
  flex: 1;
  padding: 20px;
  /* block level */
  display: flex;
  align-items: center;
  justify-content: center;
}

.field-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.field-group > div {
  width: 49%;
}

.field input {
  width: 100%;
}

.buttons {
  margin-top: 20px;
}

.hcard-preview {
  background-color: #eee;
}

.hcard-card {
  background-color: white;
}
